boto3==1.26.0          # Biblioteca principal para interagir com AWS
requests==2.28.2       # Usado para integração com Telegram e outras APIs
python-dotenv==1.0.0   # Para carregar variáveis de ambiente do arquivo .env
